<%= render 'shared/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render 'shared/sidebar' %>
		</div>
		<div class="col-md-9" id="show_profile">
			<% if flash[:success] %>
				<div class="alert alert-success" role="alert"><%= flash[:success] %></div>
			<% end %>
			<%= link_to "Edit profile information", edit_profile_path(@current_user), :class => "btn btn-primary" %><br><br>
			<label>Name:</label> <%= @user.name %><br>
			<label>Surname:</label> <%= @user.surname %><br>
			<label>Username:</label> <%= @user.username %><br>
			<label>Email:</label> <%= @user.email %><br>
		</div>
	</div>
</div>