<%= render 'shared/header' %>

<div class="container" id="tasks_index">
	<div class="row">
		<div class="col-md-3">
			<%= render 'shared/sidebar' %>
		</div>
		<div class="col-md-9">

			<button class="btn btn-default"><span class="glyphicon glyphicon-plus" id="icon"></span><%= link_to ' Add new task', new_task_path(activity_id: params[:activity_id], project_id: params[:project_id]) %></button>
			<div id="tasks_accordion">
				<% @tasks.each do |task| %>
				  <h3><%= task.name %></h3>
				  <div>
				  	<button class="btn btn-default" style="float: right; margin-left:1%;">
					   	<span class="glyphicon glyphicon-pencil" id="icon"></span>
					  	<%= link_to " Edit task", edit_task_path(activity_id: params[:activity_id], project_id: params[:project_id], id: task.id) %>
				  	</button>
					  	<button class="btn btn-default" style="float: right;">
					   	<span class="glyphicon glyphicon-paperclip" id="icon"></span>
					  	<%= link_to " Add resources", new_task_upload_path(task) %>
				  	</button>
				  <span style="font-weight: bold;">Assigned to: <%= task.user.username %></span><br/>
				  	<span style="font-weight: bold;">Description: </span><%= task.description %><br/>
				  	<span style="font-weight: bold;">Duration: </span><%= task.duration %><span> hours</span><br/>
				  	<span style="font-weight: bold;">Deadline: </span><%= task.deadline.to_formatted_s(:long) %><br/>
				  	<span style="font-weight: bold;">Progress status: </span><%= task.status %><span> %</span><br/>
				  	<span style="font-weight: bold;">Created at: </span><%= task.created_at.to_formatted_s(:short)  %><br/>
				  	<span style="font-weight: bold;">Updated at: </span><%= task.updated_at.to_formatted_s(:short) %><br/>

				  	<span style="font-weight: bold;">Resources: </span><br>
				  	<% task.uploads.each do |upload| %>
				  		<%= link_to upload.filename, task_upload_path(task, upload) %><br>
				  	<% end %>


				  	<script>
							$(document).ready(function(){
							$("#tasks_accordion #comments_list<%= task.id %>").hide();
						  	$("#tasks_accordion #toggle_comments<%= task.id %>").click(function(){
							    $("#tasks_accordion #comments_list<%= task.id %>").toggle(1000);
							    $("#tasks_accordion #comments_list<%= task.id %>").css("display", "block");
						  });
					  });
						</script>

						<div>
					  	<span class='icon'> | </span>
					  	<button id='toggle_comments<%= task.id %>'><span class='glyphicon glyphicon-comment'></span> Comments (<%= task.comments.count %>)</button>
					  	<br/><br/>
				  	</div>

				  	<div id='comments_list<%= task.id %>' style="display: none">
				  		<%= render task.comments %>
				  	</div>

				  	<%= form_tag (task_comments_path(task.id)), remote: true, class: 'add_comment_form' do %>
				  		<input type="text" class="form-control" id="content" placeholder="Type here..." name="comment[content<%= task.id %>]">
				  		<input type="hidden" class="form-control" id="user_id" value=<%= @current_user.id %>  name="comment[user_id]">
				  		<input type="hidden" class="form-control" id="activity_id" value=<%= params[:activity_id] %>  name="comment[activity_id]">
				  		<input type="hidden" class="form-control" id="task_id" value=<%= task.id %>  name="comment[task_id]">
				  		 <button type="submit"><span class='icon'> | </span>
				  		 <span class='glyphicon glyphicon-plus'></span>Add comment</button>
				  	<% end %>


				  </div>
			  <% end %>
			</div>
		</div>
	</div>
<div>