<%= render 'shared/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render 'shared/sidebar' %>
		</div>
		<div class="col-md-9" id="show_project">
			<div class="jumbotron">
			  <% if @project.is_manager?(@current_user) %>
				  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" id="icon"></span> Edit project</button>
				  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tags" id="icon"> </span> <%= link_to " Edit members", members_path %></button>
				  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-file" id="icon"></span> Create report</button>
			  <% end %>
			  <h2><%= @project.name %></h2>
			  <p> Description: <%= @project.short_description %></p>
			</div>
			<h3>Project activities</h3>
			<div id="accordion">
				<% @project.activities.each do |activity| %>
				  <h3><%= activity.name %></h3>
				  <div>
				  <% if activity.tasks.empty? %>
				  <p> No tasks created currently. </p>
				  <% else %>
				  	<ul>
				  		<% activity.tasks.each do |task| %>
				  			<li><%= task.name %> 
				  			<span class="gray"><%= task.user.name + " " + task.user.surname %></span>
				  			</li>
				  		<% end %>
				  	</ul>
				  <% end %>
				  </div>
			  <% end %>
			</div>
		</div>
	</div>
</div>
