<%= render 'shared/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render 'shared/sidebar' %>
		</div>
		<div class="col-md-9">
			<%= link_to 'Create New Activity', new_project_activity_path, :class => "btn btn-success" %><br><br><br>
			<div class="horizontal-form">
				<% @project.activities.each do |activity| %>
					<div class="form-group">
						<label style="width:50%;"><%= activity.name %></label>
						<%= link_to 'Edit', edit_project_activity_path(@project, activity), class: "btn btn-default" %>
						<%= link_to 'Delete', project_activity_path(@project, activity), data: { confirm: 'Are you sure you want to delete the activity?' }, :method => :delete, class: "btn btn-default" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>