<%= render 'shared/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render 'shared/sidebar' %>
		</div>
		<div class="col-md-9" id="new_activity_form">
			<div class="col-md-6">
				<div class="container-fluid">
					<%= form_for @activity, :url => project_activities_path do |f| %>
						<div class="form-group">
							<%= f.label :name %>
							<%= f.text_field :name, class: "form-control" %>
						</div>

						<div class="form-group">
							<%= f.label :description %>
							<%= f.text_area :description, class: "form-control" %>
						</div>

						<div class="form-group">
							<%= f.label :duration %>
							<%= f.number_field :duration, class: "form-control" %>
						</div>

						<%= f.submit "Create activity", class: "btn btn-default" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>