<%= render 'shared/header' %>

<div class="container" id="members_index">
	<div class="row">
		<div class="col-md-3">
			<%= render 'shared/sidebar' %>
		</div>
		<script>
		$(document).ready(function() {
			 $("#memberTags").tagit({
			 		availableTags: <%= raw @avail_usernames %>,
			 		autocomplete: {delay: 0, minLength: 2},
			 		tagLimit:5,
			 		beforeTagAdded: function(event, ui) {
			        if($.inArray(ui.tagLabel, <%= raw @avail_usernames %>)<0) return false;
			        }
			 });
		});
		</script>
		<div class="col-md-9">
			<form class="horizontal-form" id="show_members" method="post">
				<% @members.each do |member| %>
					<div class="form-group">
							<label style="width:10%"><%= member.username + "   |   "%></label>
							<label style="width:20%"><%= member.get_available_hours(params[:project_id]).to_s + " hrs available   |  "%></label>
							<label style="width:20%"><%= member.get_busy_hours(params[:project_id]).to_s + " hrs busy   |   "%></label>
							<label style="width:20%"><%= member.get_tasks_count(params[:project_id]).to_s + " assigned tasks  |   "%></label>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash" id="icon"> </span><%= link_to ' Delete', project_member_path(id: member.id), :method => :delete %></button>
					</div>
				<% end %>
			<div class="row">
				<div class="col-md-10">
					<ul id="memberTags"> </ul>
				</div>
				<div class="col-md-2" style="padding-left:0px;">
					<button type="submit" class="btn btn-default" id="add"><span class="glyphicon glyphicon-plus" id="icon>"></span> Add</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>